/*Client layout*/
.clientAccountRelatedSettings {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--gray-2);
}
.navigationWrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.8rem;
  padding: 1.5rem 0.8rem;
  background-color: var(--gray-2);
}

.accountRelatedNavigation {
  width: 100%;
  height: max-content;
  row-gap: 2.5rem;
  display: flex;
  flex-direction: column;
}
.profileSummary,
.accountRelatedLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: max-content;
}

.profileSummary {
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.profileSummary .profileImage {
  border: 1pt solid var(--gray-3);
  box-shadow: var(--tamed-shadows);
  border-radius: var(--radius-circular);
  object-fit: contain;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileSummary span {
  font-weight: 700;
}

.profileSummary .profileName {
  font-size: var(--text-heading-2);
  color: var(--dark);
  text-transform: capitalize;
}

.profileSummary .profileDate {
  font-size: 0.65rem;
  color: var(--dark-2);
}
.accountRelatedLinks {
  justify-content: center;
  align-items: flex-start;
  padding: 0 3rem;
  row-gap: 1.5rem;
}

.accountRelatedLinks .linkItem,
.accountRelatedLinks .clientLogoutbtn {
  width: 95%;
  font-size: var(--text-sm);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25rem;
  padding: 0.65rem 0.8rem;
}

.accountRelatedLinks .linkItem:hover,
.accountRelatedLinks .clientLogoutbtn:hover {
  background-color: var(--white);
  border-radius: var(--radius-md);
  filter: brightness(1.2);
}

.accountRelatedLinks .activeLinkItem {
  background-color: var(--green-primary);
  color: var(--white);
  font-weight: 700;
  border-radius: var(--radius-md);
}

.accountRelatedLinks.activeLinkItem:hover {
  background-color: var(--dark);
  color: var(--white);
}
.accountRelatedComponent {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.componentHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actionTab {
  width: max-content;
  padding: 0.25rem 0.5rem;
  display: flex;
  column-gap: 0.65rem;
  justify-content: flex-end;
  align-items: flex-end;
}

.actionTab .tabButton {
  width: max-content;
  font-size: var(--text-sm);
  border-radius: var(--radius-md);
  color: var(--dark);
  border: 1px solid var(--green-primary);
  filter: brightness(1);
  padding: 0.25rem 0.5rem;
}

.actionTab .tabButton:hover {
  background-color: none;
}

.actionTab .tabButtonActive {
  background-color: var(--green-primary);
  color: var(--white);
  font-weight: 700;
  border-radius: var(--radius-md);
}

/*Client bio settings*/
.clientBioSettings,
.clientPasswordSettings,
.clientOrderHistory {
  width: 100%;
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bioContainer {
  width: 99%;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: max-content;
  row-gap: 2rem;
  padding: 2rem 0;
}

.basicInfo .accountStatus {
  display: flex;
  column-gap: 3rem;
  width: 100%;
}

.accountStatus span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
}

.basicInfo .basicInfoFormFields {
  padding: 1rem 1rem;
  border-radius: var(--radius-md);
  background-color: var(--dark-gray);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  row-gap: 2rem;

  justify-items: center;
  align-items: center;
}

.basicInfoFormFields .inputWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.formAction {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  column-gap: 3rem;
  padding: 1rem 0;
}

.formAction button {
  width: max-content;
  padding: 0.8rem 3.5rem;
  border-radius: var(--radius-md);
  font-size: var(--text-md);
  color: var(--white);
}
.formAction button:disabled {
  opacity: 0.5;
}

.clearBtn {
  background-color: var(--dark);
}
.submitBtn {
  background-color: var(--green-darker);
}

/*Client profile image settings*/
.basicInfo .profileImageSettings {
  padding: 1rem 1rem;
  border-radius: var(--radius-md);
  border: 2pt solid var(--gray);
  background-color: var(--linear-clouds);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  row-gap: 2rem;

  justify-items: center;
  align-items: center;
}

.profileImageSettings .avatar {
  border: 1px solid var(--gray-3);
  box-shadow: var(--tamed-shadows);
  border-radius: var(--radius-circular);
  object-fit: contain;
}

.profileImageSettings .initials {
  border: 1px solid var(--gray-3);
  box-shadow: var(--tamed-shadows);
  border-radius: var(--radius-circular);
  object-fit: contain;
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.profileImageSettings .initials h2 {
  font-size: 3rem;
}

.profileImageSettings .uploadActions {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1.5rem;
  height: max-content;
}

.profileImageSettings .uploadActions .changeImage,
.profileImageSettings .uploadActions .selectImage {
  width: 50%;
  padding: 0.6rem 0.8rem;
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profileImageSettings .uploadActions .selectImage {
  background-color: var(--black-2);
  border: 2pt solid var(--dark-2);
  color: var(--white);
}
.profileImageSettings .uploadActions .changeImage {
  background-color: var(--white);
  border: 2pt solid var(--green-dark);
  color: var(--dark);
}

@media (min-width: 250px) and (max-width: 720px) {
  /*Client layout*/
  .clientAccountRelatedSettings {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .clientAccountRelatedSettings h4 {
    font-size: var(--text-md);
  }
  .navigationWrapper {
    width: 100%;
  }

  .accountRelatedNavigation {
    width: 100%;
    row-gap: 1rem;
  }

  .profileSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .accountRelatedLinks {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-items: center;
    align-content: center;
    height: max-content;
    row-gap: 0.5rem;
  }

  .profileSummary .profileImage {
    width: 5rem;
    height: 5rem;
  }

  .profileSummary .profileName {
    font-size: var(--text-heading-1);
  }

  .accountRelatedLinks {
    width: 100%;
    padding: 0 0;
  }

  .accountRelatedLinks .linkItem,
  .accountRelatedLinks .clientLogoutbtn {
    width: 100%;
    font-size: var(--text-xs);
    column-gap: 0.15rem;
    padding: 0.45rem 0.35rem;
  }

  .accountRelatedComponent {
    align-items: center;
    width: 100%;
  }

  .componentHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .componentHeader h4 {
    text-align: center;
    font-size: var(--text-md);
  }

  .actionTab {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .actionTab .tabButton {
    padding: 0.55rem 0.55rem;
  }

  /*Client bio settings*/
  .clientBioSettings,
  .clientPasswordSettings,
  .clientOrderHistory {
    width: 100%;
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .bioContainer {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .basicInfo {
    align-items: flex-start;
    row-gap: 0.85rem;
  }

  .basicInfo .accountStatus {
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
  }

  .accountStatus span {
    font-size: var(--text-xs);
  }

  .basicInfo .basicInfoFormFields {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.75rem;
    column-gap: 0;
  }

  .basicInfoFormFields .inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .formAction {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0;
    padding: 0.55rem 0;
    row-gap: 0.5rem;
  }

  .formAction button {
    width: 100%;
    padding: 0.65rem 0;
  }

  /*Client profile image settings*/
  .basicInfo .profileImageSettings {
    row-gap: 0.75rem;
  }

  .profileImageSettings .avatar {
    border: 1px solid var(--gray-3);
    box-shadow: var(--tamed-shadows);
    border-radius: var(--radius-circular);
    object-fit: contain;
  }

  .profileImageSettings .initials {
    width: 8.5rem;
    height: 8.5rem;
  }

  .profileImageSettings .initials h2 {
    font-size: var(--text-heading-1);
  }

  .profileImageSettings .uploadActions {
    width: 100%;
    align-items: center;
  }

  .profileImageSettings .uploadActions .changeImage,
  .profileImageSettings .uploadActions .selectImage {
    width: 100%;
    padding: 0.6rem 0;
    font-size: var(--text-xs) !important;
  }

  .basicInfo .formAction button {
    font-size: var(--text-sm) !important;
  }
}

@media (min-width: 724px) and (max-width: 1024px) {
  /*Client layout*/
  .clientAccountRelatedSettings {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .clientAccountRelatedSettings h4 {
    font-size: var(--text-md);
  }
  .navigationWrapper {
    width: 100%;
  }

  .accountRelatedNavigation {
    width: 100%;
    row-gap: 1rem;
  }

  .profileSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .accountRelatedLinks {
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-items: center;
    align-content: center;
    height: max-content;
    row-gap: 0.5rem;
  }

  .profileSummary .profileImage {
    width: 5rem;
    height: 5rem;
  }

  .profileSummary .profileName {
    font-size: var(--text-heading-1);
  }

  .accountRelatedLinks {
    width: 100%;
    padding: 0 0;
  }

  .accountRelatedLinks .linkItem,
  .accountRelatedLinks .clientLogoutbtn {
    width: 100%;
    font-size: var(--text-xs);
    column-gap: 0.15rem;
    padding: 0.45rem 0.35rem;
  }

  .accountRelatedComponent {
    align-items: center;
    width: 100%;
  }

  .componentHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .componentHeader h4 {
    text-align: center;
    font-size: var(--text-heading-1);
  }

  .actionTab {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .actionTab .tabButton {
    padding: 0.55rem 0.55rem;
  }

  /*Client bio settings*/
  .clientBioSettings,
  .clientPasswordSettings,
  .clientOrderHistory {
    width: 100%;
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .bioContainer {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .basicInfo {
    align-items: flex-start;
    row-gap: 0.85rem;
  }

  .basicInfo .accountStatus {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .accountStatus span {
    font-size: var(--text-xs);
  }

  .basicInfo .basicInfoFormFields {
    grid-template-columns: repeat(2, 1fr);
  }

  .basicInfoFormFields .inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .formAction {
    flex-direction: row;
    column-gap: 0.8rem;
    row-gap: 0;
  }

  .formAction button {
    width: 49%;
    padding: 0.65rem 0;
  }

  /*Client profile image settings*/
  .basicInfo .profileImageSettings {
    row-gap: 0.75rem;
  }

  .profileImageSettings .avatar {
    border: 1px solid var(--gray-3);
    box-shadow: var(--tamed-shadows);
    border-radius: var(--radius-circular);
    object-fit: contain;
  }

  .profileImageSettings .initials {
    width: 8.5rem;
    height: 8.5rem;
  }

  .profileImageSettings .initials h2 {
    font-size: var(--text-heading-1);
  }

  .profileImageSettings .uploadActions {
    width: 100%;
    align-items: center;
  }

  .profileImageSettings .uploadActions .changeImage,
  .profileImageSettings .uploadActions .selectImage {
    width: 50%;
    padding: 0.6rem 0;
    font-size: var(--text-xs) !important;
  }

  .basicInfo .formAction button {
    font-size: var(--text-sm) !important;
  }
}
