/*how to banner*/
.faqBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background: url("/assets/backgrounds/revolutionising-lifestyle.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faqBanner .faqHeading {
  font-size: 3rem;
  color: var(--white);
  text-shadow: var(--text-shadow-2);
}

.faqBanner .tagLine {
  color: var(--white);
  text-shadow: var(--text-shadow-1);
  font-size: var(--text-heading-2);
  width: 60%;
  text-align: center;
}

/*faq content*/
.faqContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-self: center;
  height: max-content;
  column-gap: 2rem;
}

.categoriesContainer {
  width: 25%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  height: max-content;
  background: var(--gray-2);
  border-radius: var(--border-radius);
}

.faqCategoryBtn {
  font-size: var(--text-sm);
  color: var(--black-2);
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius-lg);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.faqCategoryBtn:hover {
  color: var(--black);
  background: var(--white);
}

.faqBtnActive {
  font-size: var(--text-sm);
  color: var(--black);
  background: var(--white);
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius-lg);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.qaAccordiansContainer {
  width: 70%;
  padding: 2rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  height: max-content;
}
.qaAccordiansContainer h4 {
  color: var(--global-dark);
}

.qaAccordianSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1.5rem;
}

.sectionAccordians {
  width: 100%;
  max-height: 35rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.8rem;
  background-color: var(--gray-2);
  border-radius: var(--radius-min);
}

/*-----------------------*/
.faqAccordians {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
}

.accordionItem {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  border-bottom: 1px solid var(--white);
  cursor: pointer;
}

.accordionItem:hover > .accordionTitle {
  background-color: var(--green-primary);
  color: var(--white);
}

.accordionTitle {
  height: max-content;
  padding: 0.5rem 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.accordionTitle:hover {
  background-color: var(--gray-light);
}

.accordionTitle div:nth-child(1) {
  float: left;
}

.accordionTitle div:nth-child(2) {
  float: right;
  transition: 0.3s ease-in-out;
}

.accordionContent {
  width: 100%;
  height: max-content;
  padding: 0.5rem 0.5rem;
  transition: 1s ease-in-out;
  font-size: 13px;
  background-color: var(--white);
}

.faqNoData {
  font-size: var(--font-usable);
  font-weight: 600;
  font-style: italic;
}

/*Mobile and tablet responsiveness*/
@media (min-width: 320px) and (max-width: 420px) {
  .faqContent {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .faqContentSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: none;
  }

  .categoriesContainer {
    background: none;
    width: 100%;
    padding: 5rem 0.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
    justify-items: center;
    align-content: center;
    row-gap: 1.5rem;
  }

  .faqCategoryBtn {
    font-size: var(--font-normal);
    color: var(--global-dark);
    font-weight: 600;
    padding: 0.5rem 0.25rem;
    border: 1px solid var(--global-dark) !important;
    border-radius: var(--border-radius);
    width: 100%;
  }

  .qaAccordiansContainer {
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid green;
  }

  .sectionAccordians {
    width: 99%;
    height: 20rem;
    overflow-y: auto;
    max-height: max-content;
  }

  .faqAccordians {
    width: 95%;
  }

  .accordionItem {
    width: 95%;
  }

  .accordionItem:hover {
    background-color: var(--global-white);
  }

  .accordionTitle {
    height: max-content;
    padding: 0.2rem 0.1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  }

  .faqNoData {
    font-size: var(--font-usable);
    font-weight: 600;
    font-style: italic;
  }
}
