/*safety banner*/
.safetyBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background: url("/assets/backgrounds/safety-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: darken;
}

.safetyBanner .safetyHeading {
  font-size: 3rem;
  color: var(--white);
  text-shadow: var(--text-shadow-2);
}
.safetyBanner .tagLine {
  color: var(--white);
  text-shadow: var(--text-shadow-1);
  font-size: var(--text-heading-2);
  width: 60%;
  text-align: center;
}

/*safety content*/
.safetyContent {
  height: max-content;
  padding: 2rem 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* safety notices */
.safetyInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid var(--gray);
  row-gap: 1.2rem;
  padding: 2.5rem 1.5rem;
  height: max-content;
}

.safetyInfo .infoItems {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 1%;
  justify-items: flex-start;
  align-items: flex-start;
  height: max-content;
}

.safetyInfo .infoItems .infoItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.5rem;
}

.infoItem .infoImage {
  object-fit: fill;
  border-radius: var(--radius-min);
}

.safetyInfo .infoItems .infoItem p {
  width: 80%;
  font-size: var(--text-md);
  line-height: 1.2rem;
  text-align: center;
}

/**Safety assurances*/
.safetyAssurances {
  width: 100%;
  height: max-content;
  padding: 0.5rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  background-color: var(--black);
  color: var(--white);
}

.safetyAssurances .assuranceContainer {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  padding: 2.5rem 0;
}

.safetyAssurances .assuranceContainer .leftSection,
.safetyAssurances .assuranceContainer .rightSection {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.safetyAssurances .assuranceContainer .leftSection h2,
.safetyAssurances .assuranceContainer .rightSection h2 {
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--gray-2);
  margin-bottom: 0.5rem;
}

.safetyAssurances .assuranceContainer .leftSection p,
.safetyAssurances .assuranceContainer .rightSection p {
  font-size: var(--text-lg);
  padding-bottom: 0.8rem;
  margin-bottom: 0.5rem;
}

.illustrationImage {
  object-fit: fill;
  border-radius: var(--radius-min);
}
