.tabscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 40px;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
  padding: 10p;
  /* border-bottom: 1px solid #ccc;  */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.tab {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  margin: 10px;
  border: 1px solid #190606;
  transition: color 0.2s ease-in-out;
  
}

.tab:hover {
  color: #333;
}

.tab.active {
  color: #dac4c4;
  border-bottom: 2px solid #333;
  background-color: #ccc;
}
.active {
  background-color: #ccc;
}
.content {
  max-width: 800px;
  padding: 20px;
  font-size: 20px;
  line-height: 2;
  color: #141413;
  /* background-color: #f7f7f7; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
 
}
.content h2 {
  margin-top: 0;
  width: 90%;
  /* text-align: center; */
  font-size: 28px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
