/*Main blog section*/

.titleSection,
.mainBlog {
  display: flex;
  width: 100%;
  row-gap: 1rem;
  padding: 1.5rem 1.2rem;
}

.titleSection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-image: url("/assets/backgrounds/blog-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #434343ae;
  background-blend-mode: overlay;
  color: var(--white);
  font-weight: 700;
}

.mainBlog {
  height: max-content;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
}

.titleSection h4 {
  font-size: var(--text-heading-5);
  color: var(--white);
  text-shadow: var(--text-shadow-4);
}

.titleSection p i {
  margin: 0;
  color: var(--green-dark);
}

.featuredWrapper,
.featuredWrapperLoading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1.5rem;
  padding: 2.5rem 1.2rem;
  border-top: 1px solid var(--gray-2);
  border-bottom: 1px solid var(--gray-2);
}

.featuredWrapperLoading {
  filter: blur(20px);
}

.featuredSection {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 1.5%;
  justify-items: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
}

.featuredSection .featuredPost {
  width: 100%;
  height: 12rem;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--text-shadow-4);
  border-radius: var(--radius-lg);
  background-blend-mode: overlay;
  background-color: #00000074;
  color: var(--white);
}

.featuredSection .featuredPost h4 {
  height: 15%;
  width: 100%;
  font-size: var(--text-heading-1);
  text-align: left;
}

.featuredSection .featuredPost .previewDescription {
  padding: 0.15rem 0.5rem;
  text-align: left;
  font-size: var(--text-md);
  height: 45%;
  width: 100%;
  border-radius: var(--radius-md);
  color: var(--white);
  background-color: var(--white);
  /* overflow-y: hidden; */
}

.featuredSection .featuredPost .readMoreLink {
  width: max-content;
  height: max-content;
  font-size: var(--text-sm);
  text-align: center;
  background-color: var(--green-darker);
  padding: 0.5rem 1rem;
  border-radius: var(--radius-rounded);
}

.featuredSection .featuredPost .readMoreLink:hover,
.featuredSection .featuredPost .readMoreLink:active {
  transform: scale(1.02);
  background-color: var(--white);
  color: var(--black);
}

/*Main blog*/

.mainBlog {
  background-color: var(--gray-2);
}

.mainBlog h4 {
  padding: 0.6rem;
  border-bottom: 1px solid var(--gray-2);
}

.mainBlog .posts,
.mainBlog .postsLoading {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  column-gap: 1rem;
  row-gap: 1.5rem;
  justify-items: flex-start;
  align-items: flex-start;
}

.postsLoading {
  filter: blur(20px);
}

.mainBlog .posts .postCard {
  width: 100%;
  height: 18rem;
  padding: 0.8rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--text-shadow-4);
  border-radius: var(--radius-lg);
  background-blend-mode: overlay;
  background-color: #313131e0;
  color: var(--white);
}

.posts .postCard h4 {
  height: 15%;
  width: 100%;
  font-size: var(--text-heading-1);
  text-align: left;
  height: 30%;
}

.posts .postCard .previewDescription {
  text-align: left;
  background-color: #e6e6e676;
  border-radius: var(--radius-md);
  padding: 0.5rem 2.5rem;
  text-align: left;
  font-size: var(--text-sm);
  height: 65%;
  width: 100%;
  overflow-y: hidden;
}

.posts .postCard .readMoreLink {
  font-size: var(--text-sm);
  padding: 0.25rem 1rem;
  text-align: center;
  color: var(--black);
  border-radius: var(--radius-rounded);
  background-color: var(--white);
  border: 1px solid var(--black);
  border-width: thin;
}

.posts .postCard .readMoreLink:hover,
.posts .postCard .readMoreLink:active {
  border: transparent;
  transform: scale(1.02);
  color: var(--white);
  background-color: var(--green-darker);
}

/*blog post details*/
.postBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #3f3f3f74;
}

.postBanner .postHeading {
  font-size: 3rem;
  color: var(--white);
  text-shadow: var(--text-shadow-5);
  text-align: center;
  width: 70%;
}

.postBanner .tagLine {
  color: var(--white);
  text-shadow: var(--text-shadow-1);
  font-size: var(--text-heading-2);
  width: 60%;
  text-align: center;
}

.postDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 2.5rem;
  padding: 2.5rem 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--gray-2);
}

.postDetails .postInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.postDetails .postInfo caption {
  color: var(--dark-2);
  font-size: var(--text-md);
}
.postDetails .postInfo caption i {
  font-size: var(--text-sm);
  color: var(--green-darker);
}

.postDetails .postInfo span {
  color: var(--dark-2);
  font-size: var(--text-md);
}

.postRead {
  padding: 1rem 4rem;
  width: 98%;
  min-height: 25rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  background-color: var(--white);
  box-shadow: var(--text-shadow-4);
}

.postRead h4 {
  font-size: var(--text-lg);
}
.postRead p {
  width: 95%;
  line-height: 1.5rem;
  font-size: var(--text-md);
  margin-bottom: 2.5rem;
}
